/* PRELOADER */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #e85d07;
    display: grid;
}

.preloader .loading {
    margin: auto;
    animation: loader 2s infinite ease;
}

@keyframes loader {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

/* End of PRELOADER */

/* HEADER */
.navbar {
    transition: background-color 200ms linear;
}

.navbar.scrolled {
    background-color: #e85d07 !important;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
    transition: background-color 200ms linear;
}

.navbar.scrolled .nav-link,
.navbar.scrolled .brand {
    color: #fafafa !important;
}

/* End of HEADER */

/* CAROUSEL */
.carousel-inner {
    height: 350px;
}


/* MAIN */
.fiturLacak {
    border-radius: 10px;
    padding-left: 40px;
    margin-top: -45px;
    background-color: #fff;
}

.fiturFitur {
    width: 80%;
}

.fiturFitur h2{
	font-size: 30px;
}

.logo_nav {
    width: 100px;
}

.profile-company {
    padding: 20vh 0;
}

.profile-company h1 {
    font-size: 25px;
}

.profile-company .nav-link {
    font-size: 12px;
}

.profile-company .tab-content {
    margin-left: 30px;
    font-size: 12px;
}

.profile-company .tab-content .text-uppercase {
    font-size: 15px;
}

.service-company {
    background-color: #e85d07;
    padding: 20vh 0;
}

.service-company .nav-link {
	font-size: 12px;
}

.service-company .tab-content {
	margin-left: 30px;
    font-size: 12px;
}

.service-company .deskripsi-perusahaan h1 {
    font-size: 25px;
}

.contact-us {
    padding: 20vh 0;
}

.contact-us .title {
    margin-bottom: 30px;
}

.contact-us .title h4 {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #e85d07;
}

.contact-us .title h3 {
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 600;
}

.contact-us .contact-head .single-head h4 ul li{
	font-size: 12px;
}

.contact-us .single-head {
    padding: 50px;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
    height: 98.5%;
    border-radius: 10px;
		display: flex;
}

.contact-us .single-info {
    text-align: left;
    margin-bottom: 30px;
}

.contact-us .single-info i {
    color: #fff;
    font-size: 25px;
    display: inline-block;
    margin-bottom: 15px;
    height: 40px;
    width: 40px;
    display: block;
    text-align: center;
    border-radius: 3px;
    line-height: 40px;
    background: #e85d07;
}

.contact-us .single-info ul .contact-us .single-info ul li {
    margin-bottom: 5px;
}

.contact-us .single-info ul li:last-child {
    margin-bottom: 0;
}

.contact-us .single-info ul li a {
    font-size: 12px;
}

.contact-us .single-info ul li a:hover {
    color: #e85d07;
}

.contact-us .single-info .title {
    margin-bottom: 10px;
    color: rgb(3, 3, 3);
    font-size: 15px;
}

.contact-us .form-main {
    box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
    padding: 50px;
    border-radius: 10px;
}

.contact-us .form .form-group input {
    height: 48px;
    line-height: 48px;
    width: 100%;
    border: 1px solid #e6e2f5;
    padding: 0px 20px;
    color: #333;
    border-radius: 0px;
    font-weight: 400;
}

.contact-us .form .form-group textarea {
    height: 180px;
    width: 100%;
    border: 1px solid #e6e2f5;
    padding: 15px 20px;
    color: #333;
    border-radius: 0px;
    resize: none;
    font-weight: 400;
}

.contact-us .form .form-group label {
    color: #333;
    position: relative;
}

.contact-us .form .form-group label span {
    color: #e85d07;
    display: inline-block;
    position: absolute;
    right: -12px;
    top: 4px;
    font-size: 16px;
}

.contact-us .form .button {
    margin: 0;
}

.contact-us .form .button .btn {
    height: 50px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: #e85d07;
}

/* End of MAIN */



/* FOOTER */
footer {
    background-color: #e85d07;
    padding: 0;
}

.footer-company {
    padding-bottom: 32px;
}

.footer-copy {
    background-color: #333;
    padding-top: 18px;
}

/* End of FOOTER */

/* Dekstop Version */
@media (min-width: 992px) {
    .preloader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background-color: #e85d07;
        display: grid;
    }

    .preloader .loading {
        margin: auto;
        animation: loader 2s infinite ease;
    }

    @keyframes loader {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.5);
        }

        100% {
            transform: scale(1);
        }
    }

    /* End of PRELOADER */

    /* CAROUSEL */
    .carousel-inner {
        height: 750px;
    }

    /* HEADER */
    .navbar {
        transition: background-color 200ms linear;
    }

    .navbar.scrolled {
        background-color: #e85d07 !important;
        box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
        transition: background-color 200ms linear;
    }

    .navbar.scrolled .nav-link,
    .navbar.scrolled .brand {
        color: #fafafa !important;
    }

    /* End of HEADER */

    /* MAIN */
    .fiturLacak {
        border-radius: 10px;
        padding-left: 40px;
        margin-top: -40px;
        background-color: #fff;
    }

    .fiturFitur {
        width: 50%;
    }

    .logo_nav {
        width: 150px;
    }

    .profile-company {
        padding: 20vh 0;
        margin-bottom: 5px;
    }

    .profile-company h1 {
        font-size: 35px;
    }

    .profile-company .nav-link {
        font-size: 20px;
        size: 50px;
    }

    .profile-company .tab-content {
        margin-left: 30px;
        font-size: 20px;
    }

    .profile-company .tab-content .text-uppercase {
        font-size: 20px;
    }

    .service-company {
        background-color: #e85d07;
        padding: 20vh 0;
    }

		.service-company .nav-link {
			font-size: 20px;
		}

		.service-company .tab-content {
			margin-left: 30px;
				font-size: 20px;
		}

		.service-company .deskripsi-perusahaan h1 {
			font-size: 35px;
	}

    .contact-us {
        padding: 20vh 0;
    }

    .contact-us .title {
        margin-bottom: 30px;
    }

    .contact-us .title h4 {
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 5px;
        color: #e85d07;
    }

    .contact-us .title h3 {
        font-size: 25px;
        text-transform: capitalize;
        font-weight: 600;
    }

    .contact-us .single-head {
        padding: 50px;
        box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
        height: 100%;
        border-radius: 10px;
				flex-direction: column;
    }

    .contact-us .single-info {
        text-align: left;
        margin-bottom: 30px;
    }

    .contact-us .single-info i {
        color: #fff;
        font-size: 25px;
        display: inline-block;
        margin-bottom: 15px;
        height: 40px;
        width: 40px;
        display: block;
        text-align: center;
        border-radius: 3px;
        line-height: 40px;
        background: #e85d07;
    }

    .contact-us .single-info ul .contact-us .single-info ul li {
        margin-bottom: 5px;
    }

    .contact-us .single-info ul li:last-child {
        margin-bottom: 0;
    }

    .contact-us .single-info ul li a {
        font-weight: 400;
    }

    .contact-us .single-info ul li a:hover {
        color: #e85d07;
    }

    .contact-us .single-info .title {
        margin-bottom: 10px;
        font-weight: 500;
        color: #333;
        font-size: 18px;
    }

    .contact-us .form-main {
        box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
        padding: 73px;
        border-radius: 10px;
    }

    .contact-us .form .form-group input {
        height: 48px;
        line-height: 48px;
        width: 100%;
        border: 1px solid #e6e2f5;
        padding: 0px 20px;
        color: #333;
        border-radius: 0px;
        font-weight: 400;
    }

    .contact-us .form .form-group textarea {
        height: 180px;
        width: 100%;
        border: 1px solid #e6e2f5;
        padding: 15px 20px;
        color: #333;
        border-radius: 0px;
        resize: none;
        font-weight: 400;
    }

    .contact-us .form .form-group label {
        color: #333;
        position: relative;
    }

    .contact-us .form .form-group label span {
        color: #e85d07;
        display: inline-block;
        position: absolute;
        right: -12px;
        top: 4px;
        font-size: 16px;
    }

    .contact-us .form .button {
        margin: 0;
    }

    .contact-us .form .button .btn {
        height: 50px;
        border: none;
        color: rgb(255, 255, 255);
        background-color: #e85d07;
    }

    /* End of MAIN */



    /* FOOTER */
    footer {
        background-color: #e85d07;
        padding: 0;
    }

    .footer-company {
        padding-bottom: 32px;
    }

    .footer-copy {
        background-color: #333;
        padding-top: 18px;
    }

    /* End of FOOTER */
}
