.navbar {
    transition: background-color 200ms linear;
}

.navbar.scrolled {
    background-color: #e85d07 !important;
    transition: background-color 200ms linear;
}

.navbar.scrolled .nav-link,
.navbar.scrolled .brand {
    color: #fafafa !important;
}

.fiturLacak {
    border-radius: 10px;
    padding-left: 40px;
    margin-top: -80px;
    background-color: #fff;
}

.fiturFitur {
    width: 90%;
}

.logo_nav {
    width: 150px;
}

.profile-company {
    margin: 64px 0;
}

.service-company {
    background-color: #e85d07;
}