:root {
    --first-color: #EFE6E4;
    --secondary-color: #E11E07;
    --title-color: #342A2B;
    --subtitle-color: #ABAEAB;
    --body-color: #fff;
}

* {
    font-family: "Source Sans Pro";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1559297434-fae8a1916a79?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}

.container {
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;
}

.whiteBg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40px;
    width: 100%;
    height: 420px;
    background: var(--first-color);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
}

.whiteBg .box {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.whiteBg .box h2 {
    color: var(--secondary-color);
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
}

.whiteBg .box button {
    cursor: pointer;
    padding: 10px 20px;
    background: var(--secondary-color);
    color: var(--first-color);
    font-size: 16px;
    font-weight: 500;
    border: none;
}

.formBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: var(--secondary-color);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
    transition: 0.5s ease-in-out;
    overflow: hidden;
}

.formBx.active {
    left: 50%;
    transition: 0.5s;
}

body.active {
    transition: 0.5s;
}

.formBx .form {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 50px;
    transition: 0.5s;
}

.formBx .form form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formBx .form form h3 {
    font-size: 1.5em;
    color: var(--body-color);
    margin-bottom: 20px;
    font-weight: 500;
}

.formBx .form form input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    border: 1px solid var(--body-color);
}

.formBx .form form input[type="submit"] {
    background: var(--body-color);
    border: none;
    color: var(--secondary-color);
    max-width: 100px;
    cursor: pointer;
}

.formBx .form form .forgot {
    color: var(--body-color);
}

.formBx.active .signinForm {
    left: -100%;
    transition-delay: 0s;
}

.formBx .signinForm {
    transition-delay: 0.25s;
}

.formBx .signupForm {
    left: 100%;
    transition-delay: 0s;
}

.formBx.active .signupForm {
    left: 0%;
    transition-delay: 0.25s;
}

@media(max-width:991px) {
    .container {
        max-width: 400px;
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container .whiteBg {
        top: 0;
        height: 100%;
    }
    .formBx {
        width: 100%;
        height: 500px;
        top: 0;
        box-shadow: none;
    }
    .whiteBg .box {
        position: absolute;
        width: 100%;
        height: 150px;
        bottom: 0;
    }
    .box.signIn {
        top: 0;
    }
    .formBx.active {
        left: 0;
        top: 150px;
    }
}